*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*/build/
.gradle/
.idea/
.idea_modules/
*/.idea/
*/.gradle/
*/.externalNativeBuild/
*/.cxx/
*/local.properties
*.log
*.hprof
*.orig
*.rej
*.swp
*~
*.keystore
*.apk
*.ap_k
*.aab
*.zip
*.tar.gz
*.jar
*.war
*.ear
*.class
*.dex
*.so
*/release/
/app/release/
.kotlin
.vscode
*.apk.idsig